.modal {
  font-size: 12px;
  .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  .close:hover {
    background: tomato;
  }
  .content {
    width: 100%;
    h2 {
      height: 30px;
      width: 100%;
      color: #2d3436;
      text-align: center;
    }
  }

  .popup-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    .input-staff {
      width: 100%;
      color: black;
      font-style: bold;
      border: none;
      border-bottom: 1px solid rgb(83, 121, 122);
      text-align: center;
      box-sizing: border-box;
      padding: 15px;
      height: 100%;
    }
    input:focus {
      outline: none;
    }

    button {
      display: block;
      padding: 8px 28px;
      margin: 15px 10px 7px auto;
      height: 50px;
      width: 130px;
      color: black;
      background-size: 200%;
      background-image: linear-gradient(to left, #ffc321, #fd2137, #ffc321);
      font-size: 15px;
      cursor: pointer;
      border: 1px solid #2d3436;
      border-radius: 10px;
      transition: 0.3s;
    }
    button:hover {
      background-position: right;
    }
  }
}
